<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>From the App Component</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 myClass">
            <h2>Learn About Directives</h2>
        </div>
        <hr/>
        <div class="col-md-12 myClass" appRenderCustomizedStyleDirective>
            <h2>Directive with Renderer</h2>
        </div>
        <hr/>
        <div class="col-md-12 myClass" appMyeventdirective>
            <h2>Directive About Events</h2>
        </div>
        <hr/>
        <div>
            &nbsp;
        </div>
        <div class="col-md-12 myClass">
            <button appMydirective1>Directive About Events</button>
        </div>
    </div>
</div>