<div class="container">
  <div class="headerPart">
    <h2>{{homePage}}</h2>
    <hr color="red">
  </div>
  <div class="content">
    <h2>USER INFORAMTION</h2>
    FIRSTNAME:{{firstName}}<br/>
    LastName:{{lastName}}<br/>
    AGE:{{age}}

    <h3>{{locationOfImage}}</h3>
    <img [src]="locationOfImage" alt="Still loading...">

    <button (click)="action1()">On Click Here</button>

    FirstName:<input type="text" [(ngModel)]="firstName"/>

    <hr color="red">
  </div>
  <div class="footerPart">
    copywrite-2025
  </div>
</div>